

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1{
    color: rebeccapurple;
}

h2{
    color: rebeccapurple;
}

p{
    color: rebeccapurple; 
}
